global:
  scrape_interval: 15s
  evaluation_interval: 15s
  external_labels:
    monitor: "miniecommerce-microservices"
    environment: "docker"

# Scrape configurations
scrape_configs:
  # Prometheus
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]
        labels:
          service: "prometheus"

  # Config Server
  - job_name: "config-server"
    metrics_path: "/actuator/prometheus"
    scrape_interval: 10s
    static_configs:
      - targets: ["config-server:8888"]
        labels:
          application: "config-server"
          service: "infrastructure"

  # Eureka Server
  - job_name: "eureka-server"
    metrics_path: "/actuator/prometheus"
    scrape_interval: 10s
    static_configs:
      - targets: ["eureka-server:8761"]
        labels:
          application: "eureka-server"
          service: "infrastructure"

  # User Service
  - job_name: "user-service"
    metrics_path: "/actuator/prometheus"
    scrape_interval: 10s
    static_configs:
      - targets: ["user-service:8081"]
        labels:
          application: "user-service"
          service: "business"

  # Product Service
  - job_name: "product-service"
    metrics_path: "/actuator/prometheus"
    scrape_interval: 10s
    static_configs:
      - targets: ["product-service:8082"]
        labels:
          application: "product-service"
          service: "business"

  # Order Service
  - job_name: "order-service"
    metrics_path: "/actuator/prometheus"
    scrape_interval: 10s
    static_configs:
      - targets: ["order-service:8083"]
        labels:
          application: "order-service"
          service: "business"

  # API Gateway
  - job_name: "api-gateway"
    metrics_path: "/actuator/prometheus"
    scrape_interval: 10s
    static_configs:
      - targets: ["api-gateway:8080"]
        labels:
          application: "api-gateway"
          service: "infrastructure"

  # Notification Service
  - job_name: "notification-service"
    metrics_path: "/actuator/prometheus"
    scrape_interval: 10s
    static_configs:
      - targets: ["notification-service:8084"]
        labels:
          application: "notification-service"
          service: "business"
