server:
  port: 8888

spring:
  application:
    name: config-server

  cloud:
    config:
      server:
        git:
          uri: file://${user.dir}/./config-repo
          # For remote private Git repository, use:
          # uri: https://github.com/your-username/ecommerce-config
          # username: your-github-username
          # password: your-github-token
          default-label: master
          clone-on-start: true
          force-pull: true
          timeout: 10
        health:
          enabled: true

# Eureka Configuration
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: true
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}

# Actuator
management:
  endpoints:
    web:
      exposure:
        include: health,info,env,configprops
  endpoint:
    health:
      show-details: always

logging:
  level:
    org.springframework.cloud.config: DEBUG
    com.ecommerce.config: DEBUG