server:
  port: 8888

spring:
  application:
    name: config-server

  cloud:
    config:
      server:
        native:
          search-locations: file:///config-repo
        git:
#          uri: file://${user.dir}/./config-repo
          # For remote private Git repository, use:
          uri: ${GIT_URI}
          username: ${GIT_USERNAME}
          password: ${GIT_PASSWORD}
          default-label: master
          clone-on-start: true
          force-pull: true
          timeout: 10
        health:
          enabled: true

# Eureka Configuration
eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/
    fetch-registry: true
    register-with-eureka: true
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}

# Actuator
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus,refresh
        basepath: /actuator
  endpoint:
    health:
      show-details: always
    prometheus:
      enabled: true
  metrics:
    distribution:
      percentiles-histogram:
        http.server.requests: true
    tags:
      application: ${spring.application.name}
  prometheus:
    metrics:
      export:
        enabled: true

logging:
  level:
    org.springframework.cloud.config: DEBUG
    com.ecommerce.config: DEBUG